.datepicker_toggle_button {
    background-color: white !important;
    border: 2px solid skyblue !important;
    border-radius: 10px !important;
    color: skyblue;
    height: 30px;
    position: absolute;
    top: 10px;
    width: 160px;
    &:hover {
        background-color: darkorange !important;
        color: white !important;
    }
}

.single_datepicker, .range_datepicker {
    border: 2px solid skyblue !important;
    border-radius: 10px;
    color: skyblue;
    height: 40px !important;
    font-size: 16px;
    width: 400px;
}

.react-datepicker__input-container input {
    padding-left: 22px !important;
}

.react-datepicker__input-container input:focus {
    box-shadow: 2px solid black !important;
}

.react-datepicker__close-icon {
    right: 30px !important;
}

.react-datepicker__close-icon::before, .react-datepicker__close-icon::after {
    background-color: skyblue;
}

.datepicker_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.datepicker_container > div {
    display: flex;
    justify-content: center;
    width: 400px;
}